*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#000;
    overflow: hidden;
}

.container{
    position:relative;
    width:100%;
    height:400px;
    display:flex;
    justify-content: center;

}

.cloud{
    position:relative;
    width:300px;
    height:100px;
    background:#00ff66;
    border-radius: 100px;
    filter: drop-shadow(0 0 35px #00ff66);
}

/*cloud styling*/
.cloud::before{
    content: '';
    position: absolute;
    top:-50px;
    left:50px;
    width:110px;
    height:110px;
    background:#00ff66;
    border-radius: 50%;
}

.cloud:after{
    content:'';
    position:absolute;
    top:-70px;
    right:50px;
    width:130px;
    height:130px;
    background:#00ff66;
    border-radius: 50%;
}

/* Falling drops*/
.drop{
    position:absolute;
    top:80px;
    color:#00ff66;
    text-shadow:0 0 5px #00ff66, 0 0 15px #00ff66;
    font-family: monospace;
    animation:animate linear infinite;
    
}

@keyframes animate{
    0%{
        transform:translateY(0) scale(1);
        opacity:1;
    }

    70%{
        opacity:1;
    }

    100%{
        transform:translateY(250px) scale(0.5);
        opacity:0;
    }
}