:root{
    --Dark-cocoa:#18181b;/*background*/
    --Soft-Charcoal:#27272a;/*card/container*/
    --Warm-Amber:#f59e0b;/*primary colours*/
    --Cream-white:#fafafa;/*text*/
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: var(--Dark-cocoa);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--Cream-white);
    margin: 9rem 5rem 1rem 10rem;
}

.shape-icon{
    width:60px;
    height: 60px;
    fill:var(--Warm-Amber);
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 4.5rem;
}

h1{
    font-size:2.8rem;
    text-shadow:2px 2px 2px #000 ;
    align-items: center;
    justify-content: center;
    
    
}

.hero-p{
    align-items: center;
    justify-content: center;
    margin:2rem 4rem 2rem 20rem ;
}

.shape-icons{
    display:grid;
    gap: 2rem;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.shape-card{
    background:var(--Soft-Charcoal);
    border-radius: 16px;
    border:1px solid #334155;
    width: 200px;
    height: 150px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.4);
}

.shape{
    align-items: center;
    justify-content: center;
    color: var(--Cream-white);
    text-decoration: none;
    margin:4rem 1rem 1rem 4.5rem;
}

.ans{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 1px solid pink;
}

@media (max-width:1500px){
    h1{
    font-size:2rem;
    text-shadow:2px 2px 2px #000 ;
    align-items: center;
    justify-content: center;
    
    }

    .hero-p{
    align-items: center;
    justify-content: center;
    margin:2rem 3rem 1rem 15rem ;
    }
}

@media (max-width:1000px){
     h1{
    font-size:1.5rem;
    text-shadow:2px 2px 2px #000 ;
    align-items: center;
    justify-content: center;
    
    }

    .hero-p{
    align-items: center;
    justify-content: center;
    margin:2rem 3rem 1rem 10rem ;
    }
}

@media (max-width:800px){
     h1{
    font-size:14px;
    text-shadow:2px 2px 2px #000 ;
    align-items: center;
    justify-content: center;
    
    }

    .hero-p{
    align-items: center;
    justify-content: center;
    margin:2rem 3rem 1rem 4rem ;
    font-size: 10px;
    }
}

@media (max-width:500px){
     h1{
    font-size:10px;
    text-shadow:2px 2px 2px #000 ;
    align-items: center;
    justify-content: center;
    
    }

    .hero-p{
    align-items: center;
    justify-content: center;
    margin:2rem 3rem 1rem 1rem ;
    }

    body{
    background: var(--Dark-cocoa);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--Cream-white);
    margin: 7rem 3rem 1rem 7rem;
    }
    
}