:root{
    --Dark-cocoa:#18181b;/*background*/
    --Soft-Charcoal:#27272a;/*card/container*/
    --Warm-Amber:#f59e0b;/*primary colours*/
    --Cream-white:#fafafa;/*text*/
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: var(--Dark-cocoa);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--Cream-white);
    margin: 9rem 5rem 2rem 10rem;
}

.shape-icon{
    width:60px;
    height: 60px;
    fill:var(--Warm-Amber);
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-left: 3rem;
}

h1{
    font-size:2.8rem;
    text-shadow:2px 2px 2px #000 ;
    align-items: center;
    justify-content: center;
    
}

.hero-p{
    align-items: center;
    justify-content: center;
    margin:2rem 4rem 2rem 20rem ;
}

.shape-icons{
    display:grid;
    gap: 2.5rem;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.shape-card{
    background:var(--Soft-Charcoal);
    border-radius: 16px;
    border:1px solid #334155;
    width: 300px;
    height: 150px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.4);
}

.shape{
    align-items: center;
    justify-content: center;
    margin-left:2.2rem;   
    margin-top: 2rem;
    text-decoration: none;
}

