:root{
    --Dark-cocoa:#18181b;/*background*/
    --Soft-Charcoal:#27272a;/*card/container*/
    --Warm-Amber:#f59e0b;/*primary colours*/
    --Cream-white:#fafafa;/*text*/
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: var(--Dark-cocoa);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--Cream-white);
}