*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background:white
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    justify-content: center;
    padding: 30px;
    height: 100vh;
}

main{
    margin:200px 500px;
    height:300px;
    width:400px;
    align-items:center;
    justify-content: center;
    z-index:100;
}

h1{
    align-items: center;
    margin-bottom: 1.5rem;
    color: red;
    margin-left: 5rem;
}

p{
    margin-bottom: 1rem;
    margin-left: 4rem;
}

div{
    background:black;
    border: 1px solid black;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    height:60px;
    padding: 1rem 5rem;
    display: flex;
    flex-direction: space-between;
    gap: 16px;
}

input{
    background: white
    border-radius: 15px;
    width: 200px;
    height: 2rem;
}