*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
    padding: 30px;
    height: 100vh;
}

main{
    margin:200px 500px;
    height:300px;
    width:400px;
    align-items:center;
    justify-content: center;
    z-index:100;
}

h1{
    align-items: center;
    margin-bottom: 1.5rem;
    color: red;
    margin-left: 5rem;
}

p{
    margin-bottom: 1rem;
    margin-left: 4rem;
}

div{
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    height:60px;
    display: flex;
    flex-direction: space-between;
    gap: 16px;
}

input{
    background: white;
    border-radius: 10px;
    width: 500px;
    height: 2rem;
}

button{
    height :2rem;
    width:200px;
    background-color: black;
    color:red;
    border-radius: 10px;
}

#response{
    
}