

*{
    padding:0;
    margin:0;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500, 700, 900;
}

body{
    background-color: hsl(225, 100%, 94%);
    display:flex;
    justify-content: center;
    height: 90vh;
    background-image:url(pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-position:top;
    background-size:contain;
    padding:1em 1em;
}

.container{
    align-items: center;
    justify-content: center;
    background-color: white;
    height:500px;
    width: 350px;
    border-radius: 20px;
    height: 90vh;
    margin-left: 25%;
    top:50%;
    overflow: hidden;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
}

h2{
    text-align: center;
    font-size: 1.25rem;
    margin-top: 1em;
}

p{
    text-align: center;
    font-size: 16px;
    margin-top: 1em;
    color: hsl(224, 23%, 55%);
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

.plan-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    padding: 20px;
    margin:1em 2em;
    border-radius: 10px;
    min-height:fit-content;
    padding:1rem;
    width: 70%;
}
.text{
    margin: left 20px;
    display:flex;
    flex-direction:column;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

.music-icon{
    width: 48px;
    height: 48px;
    object-fit:contain;
}

plan-text{
    margin-left: 1em;
    margin-right: auto;
    text-align: left;
}

plan-text h4{
    font-size: 1rem;
    color: hsl(223, 47%, 23%);
    margin:0;
    font-weight: 700;
    
}

.img-p{
    font-size: 1em;
    color: hsl(224, 23%, 55%);
    margin:2px 0 0 0;
}

.plan-container a{
    color:hsl(245, 75%, 52%);
}

.proceed{
    background-color: hsl(245, 75%, 52%);
    color: white;
    border:none;
    padding: 1em 1em;
    border-radius: 10px;
    margin-bottom: 1em;
    width:80%;
    display: flex;
    box-shadow: 0 0 8px 0  hsl(245, 75%, 52%);
    justify-content: center;
    font-weight: bold;
    align-items:center;
    
}

.buttons{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

.cancel{
    background-color: white;
    border:none;
    color: hsl(224, 23%, 55%);
    justify-content: center;
    align-items:center;
    line-height: 1rem;
    margin-top: 1em;
    font-size:16px;
}

.proceed:hover{
    background-color: hsl(245, 75%, 62%);
    cursor:pointer;
}

.cancel:hover{
    color: hsl(223, 47%, 23%);
    cursor:pointer;
}

.plan-container a:hover{
    color: hsl(223, 47%, 23%);
    cursor:pointer;
    text-decoration: none;
}